---
import { withBase } from "../utils/paths";
---

<a
  href={withBase("/")}
  class="h-5 text-base group relative z-30 flex items-center text-black dark:text-white font-semibold"
>
  <span class="-translate-y-0.5">Ing. Angel Ontiveros</span>
</a>
